@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rufina:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Red Hat Display", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rufina", serif;
}
.hero-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero-img .user-support-img {
  position: absolute;
  bottom: 0;
  right: -30px;
}
.hero-img .user-img {
  position: absolute;
  top: 0;
  left: 30px;
}
.hero-img .resume-img {
  width: 60%;
  position: absolute;
  z-index: 0;
  left: 10px;
  top: -50px;
  border-radius: 25px;
}
.text-box {
  position: absolute;
  z-index: 10;
  background: #122e50;
  width: 54%;
  text-align: left;
  padding: 20px;
  left: 81px;
  bottom: 40px;
  background: rgb(255 255 255 / 72%);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 20px 10px rgba(255, 255, 255, 1);
}
.hero-lines {
  position: absolute;
  right: 20px;
  top: 0;
}
.max-w-7xl {
  max-width: 82rem;
}
.suggestion-box{
   background: rgb(255 253 253 / 9%);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);

}
#message{
   background: rgb(255 253 253 / 9%);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff
}
.tab-sec::after {
    background-color: hsl(var(--base) / 0.4);
    bottom: 5%;
    right: 5%;
}
.tab-sec::before, .tab-sec::after {
    content: "";
    position: absolute;
    width: 11.75rem;
    height: 11.75rem;
    border-radius: 50%;
    -webkit-filter: blur(73.85px);
    filter: blur(73.85px);
    background-color: #4f46e554;
    -webkit-backdrop-filter: blur(-73.85px);
    backdrop-filter: blur(-73.85px);
    z-index: -1;
}
.tab-sec::before {
    top: -0.6875rem;
    left: -0.6875rem;
}
.swiper-button-next,
.swiper-button-prev {
  width: 20px !important;
  height: 20px !important;
  background-color: #4f46e5; /* Indigo-600 */
  border-radius: 50%;
  color: white !important;
  font-size: 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next svg,
.swiper-button-prev svg{
  width: 10px !important;
  height: 10px !important
}
.swiper-button-prev{
  left: 1px !important
}
.swiper-button-next{
  right: 1px !important
}
/* Adjust arrow icon size */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 10px !important;
}

/* Add hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #6366f1; /* Slightly lighter indigo */
}
.to-accent {
    --tw-gradient-to: rgb(184, 180, 241) var(--tw-gradient-to-position);
}
.ms-feature:before{
        border-radius: 1632px;
    background: radial-gradient(50% 50% at 50% 50%, rgb(79 70 229 / 17%) 0%, rgba(255, 255, 255, 0.70) 100%);
    content: "";
    width: 30%;
    height: 20%;
    display: block;
    position: absolute;
    z-index: -1;
    top: -200px;
    left: 30%;
}
.ms-ft-sec{
  margin-bottom: -170px;
  position: relative;
  z-index: 5;
}
footer{
  padding-top: 230px !important;
}
